# Odoo
ODOO_PORT=8069
ODOO_DATABASE=product_management_dev
ODOO_ADMIN_PASSWORD=replace_with_a_strong_master_password

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=replace_with_a_strong_password
